@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Lobster&family=Noto+Sans+Linear+B&family=Noto+Sans+Pau+Cin+Hau&family=Open+Sans:wght@300&family=Orbitron:wght@500&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  font-size: 16px;
--primary:#BE123C;
  font-family: 'DM Sans', sans-serif;
}
input, textarea,button{
  font:inherit;
}